scikit-learn
torch
pyspark
pandas
argparse
install-jdk
py4j
mltable
azure.ai.mltable
azureml-core
azureml-dataset-runtime[fuse]
numpy
pyarrow
mlflow
ipykernel
azureml-mlflow
azure-storage-blob
azure-storage-file-datalake
azureml-ai-mlflow
ray-on-aml
ray
ray[air]
raydp
pip<24